.pushable{
    background-color: #000;
    color: #FFF;
    padding: 12px 32px;
    position: relative;
}
.pushable::before{
    width: 95%;
    height: 85%;
    content: '';
    position: absolute;
    top: 15%;
    left:-4.5%;
    border: 3px solid #000;
    background-color: transparent;
    transition: all 0.5s;
    z-index: -1;
}

.pushable:hover{
    cursor: pointer;
}
.pushable:hover::before{
    top: 20%;
    left: -6.5%;
}